:root {
  --ps-print-root-font-size: 12px;
  --ps-print-root-font-size-px: 12; /* must match --print-root-font-size */
  --ps-web-root-font-size-px: 16;

  --ps-page-margin-left: 8mm;
  --ps-page-margin-left-mm: 8;

  --ps-page-margin-right: 8mm;
  --ps-page-margin-right-mm: 8;

  --ps-page-area-width: 194mm;
}

/* .eprint class to scope variables to avoid collision with embedding website */

.eprint {
  --main-color: #0645ad;
  --text-color: black;
  --light-text-color: #555;
  --accent-color: #a6ce39;

  --font-sans: 'Fira Sans', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --font-condensed: 'Fira Sans Condensed', sans-serif;
}


/* Responsive layout classes aside-rack and aside-shelf.
 * Similar to table and rows, but for side-by-side aside elements and content. */

.eprint {
  --aside-width: var(--ps-first-page-top-left-width);
  --non-aside-width: var(--ps-first-page-top-right-width);
  --non-aside-width-frac: 0.69;  /* must match --non-aside-width */
}
.eprint .aside-shelf {
  clear: right;
}
.eprint .aside-rack > :not(.aside-shelf) {
  width: var(--non-aside-width);
  margin-left: auto;
}
.eprint .aside-rack > .aside-shelf > aside {
  float: left;
  width: var(--aside-width);
}
.eprint .aside-rack > .aside-shelf > :not(aside) {
  float: right;
  width: var(--non-aside-width);
}
@media screen {
  :root {
    --ps-page-area-width-mm: calc(
      var(--ps-paper-width-mm) - var(--ps-page-margin-left-mm) - var(--ps-page-margin-right-mm)
    );
    --ps-rack-narrow-max-width: calc(
      var(--non-aside-width-frac) * var(--ps-page-area-width-mm) * var(--ps-rem-per-print-mm) * 1rem
    );
  }
  @media (max-width: 1056px) {
    /* 1056px = 66 * 16px ; 66 ~= A4 paper width / 12px */
    html.webpaper .aside-rack > * {
      max-width: var(--ps-rack-narrow-max-width);
      margin-left: auto;
      margin-right: auto;
    }
    html.webpaper .aside-rack > :not(.aside-shelf) {
      width: auto;
    }
    html.webpaper .aside-rack > .aside-shelf > aside {
      float: none;
      width: 100%;
    }
    html.webpaper .aside-rack > .aside-shelf > :not(aside) {
      float: none;
      width: 100%;
    }
  }
}


/* General formatting */

.eprint {
  font-family: var(--font-sans);
}

.eprint a,
.eprint a:visited {
  color: var(--main-color);
  text-decoration: inherit;
}

.eprint code {
  font-family: var(--font-mono);
  white-space: pre-wrap;
  hyphens: none;
  break-inside: avoid;
}

.eprint article {
  color: var(--text-color);
  line-height: 1.4;
}

.eprint article p {
  text-align: justify;
  hyphens: auto;
  hyphenate-limit-chars: 9 3;
}

.eprint dd::after {
  content: '\A';
  white-space: pre-line;
}


/* Page margin header/footer styling */

:root {
  --ps-first-page-margin-top: 50mm;

  --ps-page-top-left-width: 45%;
  --ps-page-top-center-width: 0%;
  --ps-page-top-right-width: 55%;

  --ps-first-page-top-left-width: 31%;
  --ps-first-page-top-right-width: 69%;

  --ps-page-bottom-left-width: 75%;
  --ps-page-bottom-center-width: 0%;
  --ps-page-bottom-right-width: 25%;
}

.eprint :is(header, footer) {
   color: var(--light-text-color);
   font-weight: 300;
   font-size: 1.1rem;
}
.eprint header:first-of-type > div {
  margin-bottom: 5.75rem;
}
.eprint header:not(:first-of-type) > div {
  margin-bottom: 2.0rem;
}
.eprint header:first-of-type .page-right {
  text-align: left;
}
.eprint img.logo {
  margin-left: 1rem;
  margin-right: 1rem;
}
.eprint img.logo-cc {
  height: 6.25rem;
}
.eprint img.logo-oa {
  height: 6.25rem;
}
.eprint header:first-of-type .article-dsi {
  padding-bottom: 1.125rem;
  font-size: 1.625em;
}
.eprint header .logotype {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--accent-color);
}
.eprint header .article-dsi code .base64 {
  font-size: 0.75em;
}
.eprint header:first-of-type .article-dsi .online-msg {
  margin-top: 0.5rem;
  font-size: 0.9em;
}

.eprint footer > div {
  margin-top: 1.5rem;
}
.eprint footer .page-right {
  content: counter(page) " of " counter(pages);
}
.eprint footer :is(.page-left, .page-center, .page-right) {
  border-top: 0.0625rem solid lightgrey;
  padding-top: 0.75rem;
}

.eprint header:not(:first-of-type) :is(.page-left, .page-center, .page-right) {
  border-bottom: 0.0625rem solid lightgrey;
  padding-bottom: 0.75rem;
}


/* Aside formatting */

.eprint aside {
  font-family: var(--font-condensed);
  font-size: 0.875em;
  padding-right: 2rem;
}

.eprint aside p {
  text-align: left;
  hyphens: none;
  margin: 0;
}

.eprint aside dt::after {
  content: ": ";
}
.eprint aside dd {
  margin-bottom: 1rem;
}


/* Titles */

.eprint h1, .eprint h2, .eprint h3, .eprint h4 {
  font-weight: 300;
  line-height: 1;
  margin: 1.4em 0 0.6em 0;
}
.eprint h1 {
  font-size: 2.6em;
  letter-spacing: -0.03em;
}
.eprint h1.title {
  margin-top: 0;
}
.eprint h1.title::after {
  border-bottom: 0.375rem solid;
  border-color: var(--accent-color);
  content: "";
  display: block;
  height: 0;
  margin: 0.5em 0 0;
  width: 2em;
}
.eprint h2 {
  font-size: 1.8em;
  letter-spacing: -0.02em;
}
.eprint h3 {
  font-size: 1.45em;
}
.eprint h4 {
  font-size: 1.25em;
}


/* Specific text elements */

.eprint .article-swhid {
  color: var(--light-text-color);
  line-height: 1.2;
}

.eprint .article-dsi code,
.eprint .article-swhid code {
  margin-left: 0.125em;
}
.eprint footer .article-swhid code {
  font-size: 0.825em;
}

.eprint .edition-number {
  display: inline-block;
  font-size: 2.25em;
  line-height: 1;
  font-family: var(--font-sans);
  font-weight: 300;
  margin-bottom: 1rem;
}

.eprint dl.article-dates {
  font-size: 1.125em;
}
.eprint dl.article-dates dt {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 0.5em;
  min-width: 6rem;
}
.eprint dl.article-dates dd {
  display: inline;
}

.eprint dl.contributors {
  margin-bottom: 2rem;
}
.eprint .contributors > dt,
.eprint .contributors > dd {
  display: inline;
  margin: 0;
  font-weight: normal;
}
.eprint .contributors > dt:not(:first-child)::after {
  content: ",";
}
.eprint .contributors > dd::before {
  content: "(";
}
.eprint .contributors > dd::after {
  content: "),";
}
.eprint .contributors > dd:last-child::after {
  content: ")";
}
.eprint .orcid-icon::before {
  background: url(static/orcid.svg) no-repeat;
  content: "";
  display: inline-block;
  height: 1em;
  vertical-align: -10%;
  width: 1em;
}

.eprint .abstract {
  border-bottom: 0.25rem solid lightgrey;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
}
